APP_ENV=local
APP_KEY=base64:HMtvizsw8ppvFLOfcLLhMCtOPXeHrSj6VMPpu4nsxWY=
APP_DEBUG=true
APP_URL=http://dev-www.uanalyze.com.tw

API_URL=https://api.uanalyze.com.tw/
DEV_API_URL=https://dev-api.uanalyze.com.tw/

DB_HOST=localhost
DB_DATABASE=ua_pro
DB_USERNAME=root
DB_PASSWORD=root

DB_HOST_3=localhost
DB_DATABASE_3=homestead
DB_USERNAME_3=root
DB_PASSWORD_3=root

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=hankshih@uanalyze.com.tw
MAIL_PASSWORD=42623893Open
MAIL_ENCRYPTION=tls

FACEBOOK_CLIENT_ID=1090495027684050
FACEBOOK_CLIENT_SECRET=d45f1874c94109c2db60a2fd7e5e409f
FACEBOOK_GRAPHVERSION=v5.0

GITHUB_ID=
GITHUB_SECRET=
GITHUB_URL=http://laravelio.test/auth/github

UA_REGISTER_API_URL=http://dev-api.uanalyze.com.tw/register
UA_CONFIRM_USER_API_URL=https://dev-api.uanalyze.com.tw/auth/confirmbyforum

CronAPI=https://cronjob.uanalyze.com.tw/fetch/

GOOGLE_CLIENT_ID=874561309199-u1op131ku6o260eoi4d3ckj3be37qv99.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=a7ski2NuI1kr04sgLnMgUOtd
GOOGLE_URL=http://dev-www.uanalyze.com.tw/google/auth

GOOGLE_ANALYTIC_ID=UA-112922258-4
GOOGLE_TAG_MANAGER_ID=GTM-W82JCL7

ECPAY_HASH_KEY_ALL_IN_ONE=5294y06JbISpM5x9
ECPAY_HASH_IV_ALL_IN_ONE=v77hoKGq4kWxNNIS
ECPAY_TEST_URL=https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5
ECPAY_MERCHANT_ID=2000132
ECPAY_HASH_KEY=
ECPAY_HASH_IV=
ECPAY_INVOICE_HASH_KEY=
ECPAY_INVOICE_HASH_IV=
ECPAY_SEND_FORM=mall/overview