// freebie
html {
  height: 100%;
}
body,
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-display: optional;
  font-family: "Noto Sans TC", "Open Sans", sans-serif !important;
}
// couldn't find page style
.jumbotron {
  background-color: #e9e9e9 !important;
  h1 {
    color: #393939;
    font-size: 35px;
  }
  p {
    color: #545454;
    font-size: 20px;
  }
}
body {
  height: 100%;
  font-size: 14.5px;
  font-weight: 300;
  color: #545454;
  background-color: #e9e9e9;
  .container {
    .summaryTop {
      top: 69px;
    }
    div {
      .input-group {
        display: block;
        width: 100%;
        // search stock
        .form-control {
          border: 1px solid #e9e9e9;
          border-radius: 15px !important;
          width: 210px;
          height: 35px;
          margin-bottom: 10px;
        }
        // print button
        .print {
          color: #fff;
          font-size: 15px;
          text-decoration: none;
          background: #ffa500;
          padding: 5px 10px;
          font-weight: bold;
          border: 1px solid #ffa500;
          border-radius: 5px;
          float: right;
        }
        .print:hover,
        .print:focus {
          background-color: #ffc04d;
          border: 1px solid #ffa500;
          border-radius: 5px;
        }
      }
      // title
      h1,
      h2 {
        color: #393939;
        font-size: 20px;
        font-weight: 200;
      }
      .search-article {
        .form-group {
          input,
          input:focus {
            border: 1px solid #e9e9e9;
            border-radius: 15px;
            width: 210px;
            height: 35px;
            margin-left: 30px;
            margin-bottom: 10px;
            color: #545454;
          }
        }
      }
      #sideBtn {
        .rightbtn {
          float: right;
          list-style: none;
          a {
            padding: 5px 10px;
            color: #393939;
            font-size: 15px;
            font-weight: 400;
            display: inline-block;
            text-decoration: none;
          }
        }
        .rightbtn:hover,
        .rightbtn:focus {
          a {
            color: #545454;
            text-decoration: none;
          }
        }
      }
    }
    #CanvasBaseMap {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      .container {
        background-color: #fff;
        #CompanyInfocontainer,
        #Newscontainer,
        #dailyChart {
          margin: 0 auto 30px;
        }
        #stockChart {
          margin: 0 auto 100px;
        }
        .downloadSummary {
          float: right;
          color: #fff;
          background-color: #ffa500;
          border: 1px solid #ffa500;
          border-radius: 5px;
          padding: 5px 10px;
          text-decoration: none;
          margin-right: 30px;
          margin-top: 30px;
        }
        .downloadTable {
          float: right;
          color: #fff;
          background-color: #ffa500;
          border: 1px solid #ffa500;
          border-radius: 5px;
          padding: 5px 10px;
          text-decoration: none;
          margin-top: 30px;
          margin-right: 20px;
        }
        .downloadSummary:hover,
        .downloadTable:hover {
          background-color: #ffc04d;
          border: 1px solid #ffc04d;
        }
        .downfree {
          margin-top: 3%;
        }
        div {
          width: 100%;
          div {
            // table
            .table-bordered {
              border-top: 1px solid #545454;
              border-left: 1px solid #545454;
              tbody {
                tr {
                  th {
                    border: 1px solid #545454 !important;
                    text-align: center;
                    padding: 5px 10px;
                  }
                  td {
                    text-align: right;
                    border: 1px solid #545454;
                  }
                }
              }
            }
            // pagination
            .pagination {
              li {
                a {
                  background-color: #e9e9e9;
                  color: #393939;
                  border: 1px solid #545454 !important;
                }
                a:hover {
                  background-color: #545454;
                  color: #fff;
                }
              }
              .active {
                a,
                a:hover {
                  background-color: #ffa500;
                  color: #fff;
                }
              }
              .disabled {
                a,
                a:hover {
                  background-color: #fff;
                  color: #545454;
                }
              }
            }
            // chart list title
            .btn-primary {
              text-align: left;
              background-color: #fff;
              border: 1px solid #ffa500;
              border-radius: 5px;
              color: #ffa500;
              outline: none;
              font-size: 14px;
              border-radius: 0 !important;
              margin-bottom: 10px;
            }
            button:hover {
              color: #ffc04d;
              border: 1px solid #ffc04d;
              background-color: #fff;
              outline: none;
              border-radius: 5px;
            }
            .OuterChartActive,
            .OuterChartActive:hover {
              color: #fff;
              border-radius: 5px;
              border: 1px solid #ffc04d;
              background-color: #ffa500;
            }
            div {
              div {
                // select time(year & momth)
                .select {
                  overflow-x: hidden;
                  overflow-y: hidden;
                  vertical-align: middle;
                  display: inline-block;
                  position: relative;
                  border: 2px solid #e9e9e9;
                  font-size: 14px;
                  width: 40%;
                  line-height: 2;
                  select {
                    color: #545454;
                    border: none;
                    outline: none;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    width: 100%;
                  }
                }
              }
              // from label
              .timeS {
                width: 50%;
                display: block;
                float: left;
                padding-left: 20%;
              }
              // to label
              .timeE {
                width: 50%;
                display: block;
                float: right;
                padding-left: 15%;
              }
              .row {
                margin-left: 0 !important;
                div {
                  // how many data show:label
                  #example_length,
                  #example_filter {
                    label {
                      margin-top: 10px;
                    }
                  }
                  // report table
                  #example {
                    width: 100% !important;
                    background: #fff;
                    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
                    border-top: 1px solid #545454 !important;
                    border-left: 1px solid #545454 !important;
                    thead {
                      tr {
                        th {
                          text-align: center;
                          color: #ffa500;
                          border-right: 1px solid #545454 !important;
                          border-bottom: 1px solid #545454 !important;
                        }
                      }
                    }
                    tbody {
                      tr {
                        td {
                          color: #393939;
                          text-align: right !important;
                          border-right: 1px solid #545454 !important;
                          border-bottom: 1px solid #545454 !important;
                          padding: 5px;
                        }
                      }
                    }
                  }
                  // report pagination
                  #example_paginate {
                    .pagination {
                      li {
                        a {
                          background-color: #e9e9e9;
                          color: #393939;
                          border: 1px solid #545454 !important;
                          padding: 5px 8px;
                        }
                        a:hover {
                          background-color: #545454;
                          color: #fff;
                        }
                      }
                      .active {
                        a,
                        a:hover {
                          background-color: #ffa500;
                          color: #fff;
                        }
                      }
                      .disabled {
                        a,
                        a:hover {
                          background-color: #fff;
                          color: #545454;
                        }
                      }
                    }
                  }
                }
              }
              // how many data show:label
              .col-sm-6 {
                width: 50%;
              }
              // how many data show: select
              .form-control {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                border: 1px solid #e9e9e9;
                border-radius: 15px;
                width: 210px;
                line-height: 1;
                color: #545454;
                height: 35px !important;
                padding: 5px 8px !important;
                margin: 0 0 10px;
                .rangeStartOption {
                  border: 1px solid #e9e9e9;
                  color: #545454;
                }
              }
              .form-control::-ms-expand {
                display: none;
              }
              // chart list title
              div {
                .drawTableChart {
                  width: 100%;
                  background: #fff;
                  border: none !important;
                  color: #ffa500;
                  font-size: 14px;
                  text-align: left;
                  outline: none;
                  border-radius: 0 !important;
                }
                .drawTableChart:hover {
                  color: #ffc04d;
                }
                .ChartActive,
                .ChartActive:hover {
                  color: #545454;
                  font-size: 15.5px;
                }
              }
            }
          }
          // stocksummary table
          #CompanyInfo {
            width: 100% !important;
            margin-bottom: 15px;
            #infoTable {
              tr {
                td {
                  text-align: left !important;
                  padding: 5px;
                  b {
                    text-align: center !important;
                    font-weight: 900;
                  }
                }
              }
            }
          }
          // StockNews
          #News {
            width: 100% !important;
            margin-top: 15px;
            .list-group {
              .list-group-item,
              .list-group-item:hover {
                border: none;
                padding: 10px 5px !important;
                small {
                  font-size: 13px;
                  color: #545454;
                }
                .news-title {
                  color: #393939;
                  font-size: 16px;
                }
                .news-title:hover {
                  color: #545454;
                  text-decoration: none;
                  font-size: 16px;
                }
              }
            }
          }
          // time button
          .btn-group {
            width: auto;
            display: inline-block;
            .btn {
              background-color: #e9e9e9;
              color: #393939;
              border: 1px solid #545454 !important;
              padding: 5px 10px;
              margin-top: 15px;
              margin-bottom: 15%;
              outline: none;
              border-radius: 5px !important;
            }
            .btn:active,
            .btn:hover,
            .ActiveChartControlButton {
              background-color: #545454;
              color: #fff;
              border-radius: 5px !important;
            }
          }
          .collapse.in {
            display: inline-block;
          }
        }
        // 財務報表
        .sidebar {
          width: 20%;
          float: left;
          overflow: auto;
          padding-top: 15px;
        }
        #IncomeStatementcontainer,
        #StatementOfFinancialPositioncontainer,
        #CashFlowscontainer {
          width: 80%;
          display: inline-block;
          vertical-align: top;
          padding-top: 15px;
          div {
            .rangeEndSelect {
              margin-right: 10%;
            }
          }
          .btn {
            margin-top: 0;
          }
        }
      }
      // table label
      .table {
        margin-bottom: 0;
        tbody {
          // 損益表 table
          #IncomeStatementLabel {
            td {
              width: 50%;
            }
          }
          // 資產負債表 table
          #StatementOfFinancialPositionLabel {
            td {
              width: 25%;
            }
          }
          tr {
            background-color: #fff !important;
            -webkit-box-shadow: none;
            td {
              text-align: left;
              color: #545454;
              font-size: 15px;
              padding: 0 10px;
              font-weight: lighter;
              b {
                color: #545454;
                h4 {
                  color: #ffa500;
                  font-size: 20px;
                  margin-top: 0px;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  body {
    overflow: scroll;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .forumPadding {
    .summaryTop {
      top: 60px !important;
    }
  }
  #example_wrapper {
    .row {
      margin-left: 0px;
      .col-sm-12 {
        #example {
          width: 100%;
        }
      }
    }
  }
  body {
    .container {
      #sideBtn {
        .rightbtn {
          right: 6%;
        }
      }
      #CanvasBaseMap {
        .container {
          .downfree {
            margin-top: 4%;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  body {
    .container {
      #sideBtn {
        display: none;
      }
      #CanvasBaseMap {
        height: auto !important;
        .container {
          .downfree {
            margin-top: 8%;
          }
          div {
            .vacant {
              display: none !important;
            }
          }
          #Outer {
            .container {
              margin-left: 0;
              .table {
                tbody {
                  #StatementOfFinancialPositionLabel {
                    td {
                      display: contents;
                      text-align: center;
                    }
                  }
                }
              }
            }
          }
          #CompanyInfocontainer,
          #Newscontainer,
          #dailyChart {
            margin: 0 auto 30px;
          }
          #stockChart {
            margin: 0 auto 15px;
          }
        }
      }
    }
  }
  .list-group-item,
  .list-group-item:hover {
    padding: 5px !important;
  }
  // table label
  .table {
    width: 100%;
    border: none !important;
    margin: auto;
    tbody {
      // 損益表 table
      #IncomeStatementLabel {
        td {
          padding-left: 0 !important;
          width: 100% !important;
        }
      }
    }
  }
  #example_wrapper {
    .row {
      .col-sm-12 {
        overflow-x: scroll;
        padding-left: 0;
      }
    }
  }
  .forumPadding {
    padding-top: 20% !important;
    .summaryTop {
      top: 60px !important;
      width: 100%;
    }
    .forumTit {
      width: 100% !important;
      form {
        width: auto !important;
        .form-group {
          input {
            margin-left: 5px !important;
            margin-top: -8px;
          }
        }
      }
    }
  }
  .container {
    padding: 0 5px;
    margin-bottom: 1%;
    margin-left: 5px;
    margin-right: 5px;
    div {
      .table {
        width: auto !important;
        tbody {
          #IncomeStatementLabel,
          #DailyStockPriceAreaChartWithDisplayLabel {
            td {
              font-size: 14px !important;
              width: 100%;
              padding: 5px;
              display: block;
              text-align: center !important;
              b {
                h4 {
                  text-align: center !important;
                  font-size: 18px !important;
                }
              }
            }
          }
        }
      }
      div {
        .sidebar {
          width: 100% !important;
        }
        #IncomeStatementcontainer,
        #StatementOfFinancialPositioncontainer,
        #CashFlowscontainer {
          width: 100% !important;
          div {
            margin-bottom: 5px;
            div {
              a {
                text-decoration: none;
                color: #ffa500;
                font-size: 15px;
                .triangle-down {
                  width: 10px;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 10px solid currentColor;
                  display: inline-block;
                }
              }
              a:hover {
                color: #ffc04d;
              }
              .bottomName {
                table {
                  width: 100% !important;
                  margin-bottom: 15px;
                  tbody {
                    tr {
                      th {
                        text-align: left !important;
                      }
                    }
                  }
                }
              }
            }
            .btn-group {
              margin-left: 0 !important;
            }
          }
        }
        div {
          font-size: 13px;
          .LeftButtonGroup {
            float: left;
          }
          .btn-group {
            margin-left: 0 !important;
            .btn {
              padding: 5px 10px !important;
              font-size: 1.2rem;
              margin-top: 15px !important;
            }
          }
          .timeS {
            padding-bottom: 5%;
            width: 100% !important;
          }
          .timeE {
            width: 100% !important;
            padding-left: 20% !important;
          }
          .col-sm-6 {
            width: 100% !important;
          }
          .row {
            div {
              #example_length {
                label {
                  padding-top: 10px;
                }
              }
              #example_length,
              #example_filter {
                label {
                  margin-top: 0 !important;
                  .form-control {
                    width: 160px;
                  }
                }
              }
              #example {
                thead {
                  tr {
                    th {
                      font-weight: normal !important;
                      font-size: 1.3rem;
                      padding: 2px 0px 0 !important;
                      line-height: 1.1;
                      vertical-align: top;
                      width: 20% !important;
                    }
                    :after {
                      position: sticky;
                    }
                  }
                }
              }
              #example_paginate {
                .pagination {
                  font-size: 1.2rem;
                }
              }
            }
          }
          .btn-primary {
            padding: 5px 10px;
          }
          div {
            .select {
              width: 60% !important;
            }
          }
        }
      }
      .btn-group {
        margin-left: 20% !important;
        .btn {
          font-size: 0.8rem;
          padding: 5px 10px !important;
        }
      }
    }
    #CompanyInfo {
      table {
        tbody {
          tr {
            td {
              border: none !important;
              width: 100%;
              padding-top: 0;
              padding-bottom: 0px;
              display: block;
              text-align: center !important;
              b {
                h4 {
                  text-align: center !important;
                  font-size: 18px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
