@mixin btnStyle($color: #fff, $bgColor: #ffa500, $bdColor: #ffa500, $rad: 5px, $padTB: 5px, $padLR: 10px) {
  color: $color;
  background-color: $bgColor;
  border: 1px solid $bdColor;
  border-radius: $rad;
  padding: $padTB $padLR;
}
// freebie
html {
  height: 100%;
}
body,
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-display: optional;
  line-height: 1.4 !important;
  font-family: "Noto Sans TC", "Open Sans", sans-serif !important;
}
.form-control,
.form-control:hover,
.form-control:focus {
  margin-bottom: 10px !important;
  width: 200px !important;
  height: 35px;
  @include btnStyle(#545454, #fff, #e9e9e9, 15px !important);
}
.btn {
  @include btnStyle();
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
}
.btn:hover,
.btn:focus {
  @include btnStyle(#fff, #ffc04d, #ffc04d);
  text-decoration: none;
}
.cancel {
  @include btnStyle(#545454, #e9e9e9, #e9e9e9);
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.42857143;
  font-size: 15px;
}
.cancel:hover,
.cancel:focus {
  @include btnStyle(#fff, #545454, #545454);
  text-decoration: none;
}
.table {
  border-top: 1px solid #545454 !important;
  border-left: 1px solid #545454 !important;
  margin: 15px auto 0;
  th {
    text-align: center;
    vertical-align: middle !important;
    b {
      font-weight: 900;
    }
  }
  th,
  td {
    background-color: #fff !important;
    font-size: 15px;
    border-right: 1px solid #545454 !important;
    border-bottom: 1px solid #545454 !important;
    padding: 8px;
    width: auto;
  }
}
// pagination
.pagination {
  li {
    a,
    a:focus {
      @include btnStyle(#393939, #e9e9e9, #545454, 0 !important, 5px, 8px);
    }
    a:hover {
      @include btnStyle(#fff, #545454, #545454, 0 !important, 5px, 8px);
    }
  }
  li.active {
    a,
    a:hover,
    a:focus,
    span,
    span:hover,
    span:focus {
      @include btnStyle(#fff, #ffa500, #545454, 0 !important, 5px, 8px);
    }
  }
  li.disabled {
    a,
    a:hover,
    span,
    span:hover {
      @include btnStyle(#545454, #fff, #545454, 0 !important, 5px, 8px);
    }
  }
}

// Report bottomTable
.bottomTableHeader,
.bottomTableContent {
  th,
  td {
    border-top: 1px solid #545454 !important;
    border-left: 1px solid #545454 !important;
  }
}
select {
  cursor: pointer;
}
// couldn't find page style
.jumbotron {
  background-color: #e9e9e9 !important;
  h1 {
    color: #393939;
    font-size: 35px;
  }
  p {
    color: #545454;
    font-size: 20px;
  }
}
body {
  height: 100%;
  font-size: 14.5px;
  font-weight: 300;
  color: #545454;
  background-color: #e9e9e9;
  .container {
    .summaryTop {
      top: 69px;
    }
    div {
      .input-group {
        display: block;
        width: 100%;
        // print button
        .print {
          font-size: 15px;
          font-weight: bold;
          text-decoration: none;
          float: right;
        }
      }
      // title
      h1,
      h2 {
        color: #393939;
        font-size: 20px;
        font-weight: 200;
      }
      .search-article {
        .form-group {
          .form-control {
            margin-left: 10px;
          }
        }
      }
      // summary button
      #sideBtn {
        .rightbtn {
          float: right;
          list-style: none;
          a {
            @include btnStyle(#393939, #e9e9e9, #e9e9e9);
            font-size: 15px;
            font-weight: 400;
            display: inline-block;
            text-decoration: none;
          }
        }
        .rightbtn:hover,
        .rightbtn:focus {
          a {
            @include btnStyle(#545454, #e9e9e9, #e9e9e9);
            text-decoration: none;
          }
        }
      }
    }
    #CanvasBaseMap {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      .container {
        background-color: #fff;
        #CompanyInfocontainer,
        #Newscontainer,
        #dailyChart {
          margin: 0 auto 30px;
        }
        #stockChart {
          margin: 0 auto 50px;
        }
        .downloadSummary {
          float: right;
          text-decoration: none;
          margin-right: 30px;
          margin-top: 30px;
        }
        .downloadTable {
          float: right;
          text-decoration: none;
          margin-top: 30px;
          margin-right: 20px;
        }
        div {
          width: 100%;
          div {
            div {
              div {
                // select time(year & momth)
                .select {
                  vertical-align: middle;
                  display: inline-block;
                  position: relative;
                  border: 2px solid #e9e9e9;
                  border-radius: 5px;
                  font-size: 14px;
                  width: 150px;
                  line-height: 2;
                  .triangle-down {
                    width: 10px;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 10px solid currentColor;
                    display: inline-block;
                    position: absolute;
                    top: 35%;
                    right: 5px;
                  }
                  select {
                    color: #545454;
                    border: none;
                    outline: none;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    width: 100%;
                  }
                }
              }
              // from label
              .timeS {
                width: 50%;
                display: block;
                float: left;
                padding-left: 20%;
              }
              // to label
              .timeE {
                width: 50%;
                display: block;
                float: right;
                padding-left: 15%;
              }
              .row {
                margin-left: 0 !important;
                div {
                  // how many data show:label
                  #example_length,
                  #example_filter {
                    label {
                      margin-top: 10px;
                    }
                  }
                  // report table
                  #example {
                    width: 100% !important;
                    box-shadow: none;
                    thead {
                      tr {
                        th {
                          color: #ffa500;
                        }
                      }
                    }
                  }
                }
              }
              // how many data show:label
              .col-sm-6 {
                width: 50%;
              }
              // how many data show: select
              .form-control {
                -webkit-appearance: none;
                line-height: 1;
                vertical-align: initial;
              }
              .form-control::-ms-expand {
                display: none;
              }
            }
          }
          // stocksummary table
          #CompanyInfo {
            width: 100% !important;
            margin-bottom: 15px;
            #infoTable {
              tr {
                th {
                  font-weight: 900;
                }
                td {
                  font-weight: lighter;
                  text-align: left !important;
                }
              }
            }
          }
          // StockNews
          #News {
            width: 100% !important;
            margin-top: 15px;
            .list-group {
              .list-group-item,
              .list-group-item:hover {
                border: none;
                padding: 10px 5px !important;
                small {
                  font-size: 13px;
                  color: #545454;
                }
                .news-title {
                  color: #393939;
                  font-size: 16px;
                }
                .news-title:hover {
                  color: #545454;
                  text-decoration: none;
                  font-size: 16px;
                }
              }
            }
          }
          // time button
          .btn-group {
            width: auto;
            display: inline-block;
            .btn {
              @include btnStyle(#393939, #e9e9e9, #545454, 0);
              margin-top: 15px;
              margin-bottom: 15%;
              outline: none;
            }
            .btn:active,
            .btn:hover,
            .ActiveChartControlButton {
              @include btnStyle(#fff, #545454, #545454, 0);
            }
          }
          .collapse.in {
            display: inline-block;
          }
        }
        #StockPriceVSEPStable,
        #MonthlyRevenueVSStockPricetable {
          display: none;
        }
        // 報表左側menu
        .sidebar {
          width: 20%;
          float: left;
          overflow: auto;
          padding-top: 15px;
          .btn-group-vertical {
            .btn-primary {
              text-align: left;
              outline: none;
              font-size: 14px;
              margin-bottom: 10px;
              @include btnStyle(#ffa500, #fff, #ffa500, 0, 10px, 15px);
            }
            .btn-primary:hover,
            .OuterChartActive,
            .OuterChartActive:hover {
              outline: none;
              @include btnStyle(#fff, #ffa500, #ffa500, 0, 10px, 15px);
            }
            .collapse,
            .collapsing {
              div {
                .drawTableChart {
                  @include btnStyle(#ffa500, #fff, #fff, 0, 10px, 15px);
                  width: 100%;
                  font-size: 14px;
                  text-align: left;
                  outline: none;
                  border-radius: 0 !important;
                }
                .drawTableChart:hover {
                  @include btnStyle(#ffc04d, #fff, #fff, 0, 10px, 15px);
                }
                .ChartActive,
                .ChartActive:hover {
                  @include btnStyle(#545454, #fff, #fff, 0, 10px, 15px);
                  font-size: 15.5px;
                }
              }
            }
          }
        }
        #IncomeStatementcontainer,
        #StatementOfFinancialPositioncontainer,
        #CashFlowscontainer {
          width: 80%;
          display: inline-block;
          vertical-align: top;
          padding-top: 15px;
          div {
            .rangeEndSelect {
              margin-right: 10%;
            }
          }
          .btn {
            margin-top: 0;
          }
        }
      }
      // table label
      .tableTop {
        margin-bottom: 0;
        border: none !important;
        tbody {
          // 損益表 table
          tr {
            -webkit-box-shadow: none;
            td {
              border: none !important;
              text-align: left;
              color: #545454;
              font-weight: lighter;
              b {
                color: #545454;
                h4 {
                  color: #ffa500;
                  font-size: 20px;
                  margin-top: 0px;
                  margin-bottom: 0;
                }
              }
            }
          }
          #IncomeStatementLabel,
          #HistoricalPerLabel {
            td {
              width: 50%;
            }
          }
          // 資產負債表 table
          #StatementOfFinancialPositionLabel,
          #DailyStockPriceAreaChartWithDisplayLabel {
            td {
              width: 25%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .forumPadding {
    .summaryTop {
      top: 60px !important;
    }
  }
}

@media (max-width: 767px) {
  .form-control,
  .form-control:hover,
  .form-control:focus {
    width: 150px !important;
  }
  #CompanyInfo {
    .table {
      border: none !important;
      tr {
        th,
        td {
          border: none !important;
          padding: 10px 0;
          display: block;
          text-align: left;
        }
      }
    }
  }
  // table label
  .tableTop {
    width: 100%;
    margin: auto;
    #DailyStockPriceAreaChartWithDisplayLabel,
    #StatementOfFinancialPositionLabel,
    #CashFlowsLabel {
      td {
        width: 100% !important;
      }
    }
    tr {
      td {
        padding-left: 0 !important;
        display: inline-block;
        text-align: center !important;
      }
    }
  }
  .bottomName {
    .table {
      border-collapse: initial;
      tr {
        td {
          text-align: right;
        }
      }
    }
  }
  .buttonCustomize {
    display: none;
  }
  body {
    .container {
      #sideBtn {
        display: none;
      }
      #CanvasBaseMap {
        height: auto !important;
        .container {
          #CompanyInfocontainer,
          #Newscontainer,
          #dailyChart {
            margin: 0 auto 30px;
          }
          #stockChart {
            margin: 0 auto 15px;
          }
        }
      }
    }
  }
  .list-group-item,
  .list-group-item:hover {
    padding: 5px !important;
  }
  #example_wrapper {
    .row {
      .col-sm-12 {
        overflow-x: scroll;
        padding-left: 0;
      }
    }
  }
  .forumPadding {
    padding-top: 20% !important;
    .summaryTop {
      top: 60px !important;
      width: 100%;
    }
  }
  .container {
    padding: 0 5px;
    margin-bottom: 1%;
    margin-left: 5px;
    margin-right: 5px;
    div {
      div {
        .sidebar {
          width: 100% !important;
        }
        #IncomeStatementcontainer,
        #StatementOfFinancialPositioncontainer,
        #CashFlowscontainer {
          width: 100% !important;
          div {
            margin-bottom: 5px;
            div {
              a {
                text-decoration: none;
                color: #ffa500;
                font-size: 15px;
                .triangle-down {
                  width: 10px;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 10px solid currentColor;
                  display: inline-block;
                }
              }
              a:hover {
                color: #ffc04d;
              }
            }
            .btn-group {
              margin-left: 0 !important;
            }
          }
        }
        div {
          .btn-group {
            margin-left: 0 !important;
          }
          .row {
            div {
              #example {
                thead {
                  tr {
                    th {
                      font-size: 1.3rem;
                      padding: 8px 0px !important;
                      line-height: 1.2;
                      vertical-align: top !important;
                      width: 20% !important;
                    }
                    :after {
                      position: sticky;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
