// cread-thread
.buildThread {
  width: auto;
  background-color: #fff;
  padding: 15px;
  .form-group {
    label {
      font-size: 20px;
      color: #393939;
    }
    input,
    input:focus {
      border: 1px solid #e9e9e9;
      border-radius: 15px;
      width: 100%;
      height: 35px;
      margin-bottom: 10px;
      color: #545454;
    }
    .help-block {
      color: #ef5350;
      font-size: 13px;
      padding-left: 10px;
      line-height: 0.5;
    }
    select,
    select:focus {
      border: 2px solid #e9e9e9;
      color: #545454;
    }
  }
  .btn-primary {
    background-color: #ffa500 !important;
    border: 1px solid #ffa500 !important;
    border-radius: 5px;
  }
  .btn-primary:hover {
    background-color: #ffc04d !important;
    border: 1px solid #ffc04d !important;
    border-radius: 5px;
  }
}
