// cread-thread
.buildThread {
  width: auto;
  background-color: #fff;
  padding: 15px;
  .form-group {
    label {
      font-size: 18px;
      color: #393939;
    }
    .help-block {
      color: #ef5350;
      font-size: 13px;
      padding-left: 10px;
      line-height: 0.5;
    }
  }
}
