div {
  .panel {
    background-color: #e9e9e9 !important;
    margin: 10px auto !important;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    .panel-heading {
      font-size: 1.2em;
      background-color: none !important;
      color: #393939 !important;
      border: none;
      padding: 0;
    }
    .panel-body {
      font-size: 1.2em;
      font-weight: bold;
      padding-bottom: 15px;
      width: 125%;
      margin-left: -10%;
      p {
        font-weight: normal;
        font-size: 1.2rem;
      }
      form {
        background-color: #e9e9e9;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        .form-group {
          margin-bottom: 0 !important;
          input {
            background-color: rgb(232, 240, 254);
            border: 1px rgba(158, 158, 158, 0.8) solid !important;
            border-radius: 0;
          }
          .regMg {
            margin: 5% 0;
          }
          .form-control {
            height: 40px !important;
          }
          label {
            width: 100%;
            font-size: 1.5rem;
            line-height: 1.5;
            input {
              width: 100% !important;
              margin: 0 !important;
            }
            input[type="checkbox"] {
              width: 15% !important;
            }
          }
          .loginMg {
            margin: 2% 0 10%;
          }
          a {
            font-size: 1.5rem;
            color: #ffa500;
            padding: 5px;
            background-color: #e9e9e9;
          }
          a:hover {
            color: #ffc04d;
            background-color: #e9e9e9;
            text-decoration: none;
            padding: 5px;
          }
        }
        .btn {
          padding: 5px 15px;
          border: none;
          background-color: #ffa500;
        }
        .btn:focus {
          background-color: #ffc04d;
          border: none;
          outline: none;
          padding: 5px 15px;
        }
        .btn-primary:hover,
        a:hover {
          border: none !important;
          padding: 5px 15px;
          background-color: #ffc04d;
        }
      }
    }
  }
  .panel-default > .panel-heading {
    color: #393939 !important;
    background-color: #e9e9e9 !important;
    border-color: none !important;
  }
}
.col-md-offset-4 {
  .panel {
    text-align: center;
    .panel-body {
      .rule {
        width: 150% !important;
        margin-left: -25% !important;
        text-align: justify;
        background-color: #fff;
        line-height: 1.5;
        padding: 15px;
        p {
          color: #545454;
          font-weight: 100;
          font-size: 13px;
          strong {
            font-size: 14.5px;
          }
          a {
            color: #393939;
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .col-md-offset-4 {
    .panel {
      .panel-body {
        width: 100% !important;
        margin-left: 0%;
        .rule {
          width: auto !important;
          margin-left: 0% !important;
        }
      }
    }
  }
  div {
    .panel {
      .panel-body {
        padding: 5px !important;
      }
    }
  }
}
