#app {
  .navber-bd {
    background-color: #545454;
    .container {
      .navbar-header {
        .navbar-brand {
          color: #ffa500;
          font-size: 28px;
          line-height: 18px;
        }
      }
      .navbar-collapse {
        .navbar-nav {
          .nav-font {
            color: #fff;
            font-size: 17px;
            line-height: 30px;
          }
          .nav-font:hover {
            color: #ffa500;
          }
          .login {
            color: #fff;
            font-size: 16px;
            line-height: 30px;
          }
          .login:hover {
            color: #ffa500;
          }
          .dropdown-menu {
            background-color: rgba(255, 255, 255, 0.925);
            border: 1px solid rgba(255, 165, 0, 0.5);
            color: #393939;
            .menu:hover {
              background-color: #ffa500;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.navbar-nav > li > a.profile-image {
  padding-top: 15px;
  padding-bottom: 15px;
}

.dropdown-menu li span {
  display: block;
  padding: 3px 20px;
  clear: both;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .navbar-brand {
    padding-left: 6%;
  }
  .nav-font,
  .login {
    padding-left: 10% !important;
    font-size: 14.5px !important;
    line-height: normal !important;
  }
  .dropdown-menu {
    padding: 0 !important;
    border: none !important;
    li {
      background-color: #545454;
      a {
        color: #ffa500 !important;
        padding-left: 12% !important;
        font-size: 14.5px !important;
        line-height: normal !important;
        background: #404040 !important;
        border: none !important;
      }
      ul {
        li {
          a {
            padding-left: 5% !important;
          }
        }
      }
    }
  }
}

.dropdown-icon {
  margin-right: 5px;
}
