#app {
  .navber-bd {
    background-color: #545454;
    .container {
      width: 82%;
      .navbar-header {
        .navbar-brand {
          background-image: url(images/logo_light_horizontal.svg);
          background-repeat: no-repeat;
          background-size: 65%;
          width: 225px;
          background-position: 40% 60%;
        }
        .navbar-brand:hover {
          background-image: url(images/logo_light_hor_2.svg);
        }
      }
      .navbar-collapse {
        .navbar-nav {
          .open {
            a {
              background-color: #545454;
            }
          }
          li {
            .nav-font {
              color: #fff;
              font-size: 15px;
              line-height: 30px;
            }
            .nav-font:hover {
              color: #ffa500;
            }
            .chatt {
              background-image: url(images/chat_1.svg);
              width: 80px;
              background-size: 22%;
              background-position: 0 50%;
              background-repeat: no-repeat;
              .chatWord {
                padding-left: 10%;
              }
            }
            .chatt:hover {
              background-image: url(images/chat_2.svg);
            }
            .pro {
              background-image: url(images/pro_1.svg);
              width: 110px;
              background-size: 18%;
              background-position: 0 50%;
              background-repeat: no-repeat;
              .proWord {
                padding-left: 10%;
              }
            }
            .pro:hover {
              background-image: url(images/pro_2.svg);
            }
            .stock {
              background-image: url(images/stock_1.svg);
              background-size: 16%;
              background-position: 0 50%;
              background-repeat: no-repeat;
              width: 115px;
              .stockWord {
                padding-left: 10%;
              }
            }
            .stock:hover {
              background-image: url(images/stock_2.svg);
            }
            .tool {
              background-image: url(images/tool_1.svg);
              background-size: 16%;
              background-position: 0 50%;
              background-repeat: no-repeat;
              width: 100px;
              .toolWord {
                padding-left: 10%;
              }
            }
            .tool:hover {
              background-image: url(images/tool_2.svg);
            }
            #triangle-down {
              width: 10px;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 10px solid currentColor;
              display: inline-block;
            }
            .login {
              color: #fff;
              font-size: 15px;
              line-height: 30px;
              background-color: #545454 !important;
            }
            .login:hover {
              color: #ffa500;
              background-color: #545454 !important;
            }
            .log {
              background-image: url(images/login_1.svg);
              background-size: 16%;
              background-position: 0 50%;
              background-repeat: no-repeat;
              width: 80px;
              .logWord {
                padding-left: 7%;
              }
            }
            .log:hover {
              background-image: url(images/login_2.svg);
            }
            .reg {
              background-image: url(images/reg_1.svg);
              background-size: 19%;
              background-position: 0 50%;
              background-repeat: no-repeat;
              width: 100px;
              .regWord {
                padding-left: 10%;
              }
            }
            .reg:hover {
              background-image: url(images/reg_2.svg);
            }
            .dropdown-menu {
              border: 1px solid rgba(255, 165, 0, 0.5);
              a {
                background-color: #fff !important;
                color: #393939;
              }
              a:hover {
                background-color: #ffa500 !important;
                color: #fff !important;
              }
              .dropdownlist {
                a {
                  i {
                    float: right;
                    padding-top: 4px;
                  }
                }
              }
            }
          }
          .active {
            a {
              background-color: #545454;
            }
          }
        }
      }
    }
  }
}

.navbar-nav > li > a.profile-image {
  padding-top: 15px;
  padding-bottom: 15px;
}

.dropdown-menu li span {
  display: block;
  padding: 3px 20px;
  clear: both;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .navbar-header {
    .navbar-toggle {
      border: none !important;
    }
    .navbar-toggle:hover {
      background: none !important;
    }
    .navbar-brand {
      background-size: 75%;
      margin-left: 5%;
    }
  }
  .nav-font,
  .login {
    padding-left: 10% !important;
    font-size: 14.5px !important;
    line-height: normal !important;
  }
  #app {
    .navber-bd {
      .container {
        .navbar-collapse {
          .navbar-nav {
            li {
              .dropdown-menu {
                padding: 0 !important;
                border: none !important;
                background-color: #545454;
                a {
                  color: #ffa500 !important;
                  padding-left: 12% !important;
                  font-size: 14.5px !important;
                  line-height: normal !important;
                  background: #545454 !important;
                  border: none !important;
                }
                a:hover {
                  color: #ffc04d;
                }
                ul {
                  li {
                    a {
                      padding-left: 15% !important;
                      color: #ffc04d;
                    }
                  }
                }
              }
              .down,
              .down:hover {
                background-size: 3% !important;
                background-position: 95% 52% !important;
                margin-left: 0 !important;
              }
              .chatt,
              .chatt:hover {
                width: 100px !important;
                .chatWord {
                  padding-left: 5% !important;
                }
              }
              .stock,
              .stock:hover {
                background-size: 8% !important;
                background-position: 0 50% !important;
                width: auto !important;
                .stockWord {
                  padding-left: 0% !important;
                }
              }
              .tool,
              .tool:hover {
                background-size: 7% !important;
                background-position: 0 50% !important;
                width: auto !important;
                .toolWord {
                  padding-left: 0% !important;
                }
              }
              .pro,
              .pro:hover {
                background-size: 20%;
                width: 115px !important;
                .proWord {
                  padding-left: 0% !important;
                }
              }
              .log,
              .log:hover {
                .logWord {
                  padding-left: 0% !important;
                }
              }
              .reg,
              .reg:hover {
                .regWord {
                  padding-left: 0% !important;
                }
              }
              .logo {
                margin-left: 10%;
                width: 100px;
              }
              .logo:hover {
                margin-left: 10%;
                width: 100px;
              }
            }
          }
        }
      }
    }
  }
}

.dropdown-icon {
  margin-right: 5px;
}

.dropdownlist {
  position: relative;
}
.dropdownlist .dropdown-content {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
