// profile -dashboard
.profile-latest-items {
  div {
    .list-group {
      .list-group-item:hover {
        background: #fff;
      }
    }
  }
}

// setting
div {
  .row {
    .accountA,
    .accountB {
      .panel {
        .panel-body {
          padding: 0 !important;
        }
      }
    }
    div {
      .panel {
        .panel-body {
          // left part
          .nav-stacked {
            .active {
              a {
                background-color: #ffa500;
                color: #fff;
                font-weight: normal;
              }
            }
            .active:hover {
              a {
                background-color: #ffa500;
                color: #fff;
                font-weight: normal;
              }
            }
            li {
              a {
                font-weight: normal;
                color: #393939;
                background-color: #fff;
                border: 1px solid #ffa500;
              }
            }
            li:hover {
              a {
                color: #ffc04d;
              }
            }
          }
          // right part
          .formSet {
            background-color: #fff;
            .form-group {
              .control-label {
                text-align: left !important;
                font-size: 1.5rem;
              }
              div {
                span {
                  color: #545454;
                  font-size: 1.3rem;
                  font-weight: 400;
                }
                .btn {
                  color: #fff;
                  background-color: #ffa500;
                  border: none !important;
                  margin-left: 25%;
                }
                .btn:hover {
                  color: #fff;
                  background-color: #ffc04d;
                  border: none !important;
                }
                // change password
                .save {
                  margin-left: 40%;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .col-md-9 {
    padding-bottom: 10%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-md-9 {
    padding-bottom: 10%;
    width: 100%;
  }
  .accountA {
    margin: 0;
    .panel {
      overflow: hidden;
    }
  }
  .accountB {
    padding: 0 !important;
    .panel {
      .panel-body {
        .formSet {
          .form-group {
            div {
              .btn {
                float: right;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// 管理員介面
.profile-user-info {
  padding-top: 25px;
  text-align: center;
  a {
    img {
      width: auto;
    }
  }
  .profile-user-name {
    font-size: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center !important;
    line-height: 1.5;
  }

  .profile-user-bio {
    margin: 5px auto;
    max-width: 300px;
  }
}
