.modal-open .modal {
  overflow: hidden;
  .printModal {
    width: 1200px !important;
    margin: 3% auto !important;
  }
  .modal-dialog {
    margin: 5% auto;
    .modal-content {
      .ruleForm {
        background-color: #fff;
        overflow-y: hidden;
        height: auto;
        margin-bottom: 0;
        padding: 0;
        border-radius: 10px;
        .modal-header {
          .modal-title {
            text-align: center;
          }
        }
        .modal-body {
          overflow-y: auto;
          overflow-x: hidden;
          height: 55vh;
          padding: 15px;
          text-align: left;
          .rule {
            p {
              padding: 0 0 9px;
              a {
                i {
                  color: #393939;
                  font-size: 20px;
                }
              }
            }
          }
        }
        .modal-footer {
          padding: 15px;
          text-align: center;
          a,
          .btn {
            color: #fff;
            background-color: #ffa500;
            border: 1px solid #ffa500;
          }
          .cancel {
            color: #545454;
            background-color: #e9e9e9;
            border: 1px solid #e9e9e9;
          }
          a,
          .cancel,
          .btn {
            vertical-align: middle;
            border-radius: 5px;
            padding: 5px 10px;
            text-decoration: none;
            font-weight: bold;
          }
          a:hover,
          a:focus,
          .btn:hover,
          .btn:focus {
            background-color: #ffc04d;
            border: 1px solid #ffc04d;
            text-decoration: none;
            font-weight: bold;
          }
          .cancel:hover,
          .cancel:focus {
            background-color: #545454 !important;
            border: 1px solid #545454 !important;
            color: #fff !important;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .modal-open .modal {
    overflow: scroll;
    .printModal {
      width: 100% !important;
      .modal-content {
        .ruleForm {
          .modal-body {
            padding: 0;
            #myCanvas {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .modal-footer {
    a {
      padding: 5px 10px !important;
      font-size: 14px;
    }
  }
}
