.modal-open .modal{
    overflow-y: hidden;
    .modal-dialog{
        margin: 6% auto;
        .modal-content{
            .ruleForm{
                margin-bottom: 0;
                padding: 0;
                .modal-body{
                    overflow-y: auto;
                    overflow-x: hidden;
                    height: 450px;
                    padding: 15px;
                    .rule{
                        p{
                            padding: 0 0 9px;
                            a{
                                i{
                                    color: #393939;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
                .modal-footer{
                    padding: 15px;
                    text-align: center;
                    .btn{
                        color: #fff;
                        background-color: #ffa500;
                    }
                    .btn:hover,
                    .btn:focus{
                        background-color: #ffc04d;
                    }
                }
            }
        }
    }
}