.panel-search {
  .panel-heading {
    display: flex;
    align-items: center;

    form {
      max-width: 340px;
      margin-left: auto;
      padding-left: 16px;
    }
  }
}
// 發表文章
form {
  width: auto;
  padding: 15px;
  .form-group {
    label {
      font-size: 20px;
      color: #393939;
    }
    input,
    input:focus {
      border: 2px solid #e9e9e9;
      color: #545454;
    }
    .help-block {
      color: #ef5350;
      font-size: 13px;
      padding-left: 10px;
      line-height: 0.5;
    }
    select,
    select:focus {
      border: 2px solid #e9e9e9;
      color: #545454;
    }
    div {
      div {
        div {
          .btn-default,
          .btn-primary {
            background-color: #ffa500 !important;
            color: #fff !important;
            border: none !important;
          }
          .btn-default:hover,
          .btn-primary:hover {
            background-color: #ffc04d !important;
          }
        }
      }
    }
  }
  .btn-primary {
    background-color: #ffa500 !important;
    border: none !important;
  }
  .btn-primary:hover {
    background-color: #ffc04d !important;
  }
}
