// tool
// border style
@mixin borderAll($border: 10px, $color: rgba(255, 255, 255, 0.1)) {
  border-radius: $border;
  border: 1px $color solid;
}

// text style
@mixin fontAll($align: left, $color: #545454, $back: #fff, $height: 1) {
  text-align: $align;
  color: $color;
  background-color: $back;
  font-family: Microsoft JhengHei;
  line-height: $height;
}

// padding-x  margin-left
@mixin dist($padl: auto, $padr: auto, $marg: auto) {
  padding-left: $padl;
  padding-right: $padr;
  margin-left: $marg;
}
#formStyle,
#form {
  @include fontAll(left, #545454, #e9e9e9, 1);
  margin: auto auto;
  height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-style: none;
  padding: 0 !important;

  fieldset {
    @include fontAll();
    @include borderAll();
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    h3 {
      @include fontAll(center, #393939, none, 1);
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
      font-size: 20px;
      font-weight: 600;
    }

    h5 {
      @include fontAll(center, #545454, none, 1);
      background-color: none !important;
      padding-bottom: 10px;
    }

    // fromcheck
    #nnnn {
      @include fontAll(center, #545454, #fff, 16px);
      @include borderAll(0, #545454);
      padding: 5px;
    }

    #che {
      @include fontAll(center, green, #fff, 20px);
      font-size: 20px;
    }

    #non {
      @include fontAll(center, #ef5350, #fff, 20px);
      font-size: 18px;
    }

    ol {
      li {
        .radioAll {
          margin-right: 3px;
        }
      }
    }
    p {
      label {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        font-weight: normal;
        @include fontAll(left, #545454, none, 1.2);
        @include dist(auto, auto, 20%);

        // hint
        .small {
          font-size: 12px;
        }

        // important
        .red {
          color: #ef5350;
        }
      }

      //together
      #toge {
        margin-left: 20%;
        width: 100%;
      }

      input {
        @include fontAll(right, #000000, rgb(232, 240, 254) !important, 16px);
        @include borderAll(0, #e9e9e9);
        -webkit-appearance: none;
        padding-right: 5px;
      }

      input:focus {
        outline: none;
        @include borderAll(0, #ffc04d);
      }
    }

    // Input wrong
    #msgA,
    #bigW {
      @include fontAll(right !important, #ef5350, #f9f9f9, 0);
      @include dist(auto, 25%, auto);
      font-weight: 300;
      font-size: 1.3rem;
    }

    // button
    p {
      button,
      #checkAll,
      #clear {
        padding: 8px 10px;
        @include borderAll(8px, #ffa500);
        @include fontAll(center, #fff, #ffa500, 16px);
        outline: none;
      }
      button:hover,
      #checkAll:hover,
      #clear:hover {
        @include fontAll(center, #fff, #ffc04d, 16px);
        @include borderAll(5px, #ffc04d);
        border-style: none;
      }

      #checkAll {
        @include dist(auto, auto, 45%);
      }
      .cal {
        margin-left: 45%;
        padding: 8px 10px;
        @include borderAll(8px, #ffa500);
        @include fontAll(center, #fff, #ffa500, 16px);
        outline: none;
      }

      #add {
        margin-left: 45%;
        padding: 8px 10px;
        @include borderAll(8px, #ffa500);
        @include fontAll(center, #fff, #ffa500, 16px);
        outline: none;
      }

      #doc {
        margin-left: 80%;
        padding: 8px 10px;
        @include borderAll(8px, #ffa500);
        @include fontAll(center, #fff, #ffa500, 16px);
        outline: none;
      }
    }

    // result name
    .resultAll {
      @include fontAll(center, #545454, none, 16px);
      font-weight: bold;
      width: auto;
    }

    // result
    .rate {
      @include borderAll(10px, gray);
      @include fontAll(right, #545454, none, 16px);
      font-size: 18px;
      width: 200px;
      height: 25px;
      display: inline-block;
      margin-top: 5px;
      @include dist(auto, auto, auto);
    }

    // for table
    table {
      @include borderAll(0, #fff);
      width: 75%;
      margin: auto auto 15px auto;
      border-collapse: collapse;

      tr,
      th {
        @include fontAll(center, #545454, #fff, 16px);
        @include borderAll(0, #545454);
        line-height: 25px;

        td {
          @include borderAll(0, #545454);
          @include fontAll(right, #393939, #fff, 16px);
          padding: 3px 5px 3px 0 !important;
        }
      }

      td {
        @include borderAll(0, #545454);
        @include fontAll(right, #393939, #fff, 16px);
        padding: 3px 5px 3px 0 !important;
      }
    }

    // for together
    #question {
      line-height: 25px;
      text-align: center;
    }
    // secondDCF
    #valFF {
      @include borderAll(0, #fff);
      @include fontAll(center, #fff, black, 16px);
    }
    // for npv
    #npvv {
      #rec {
        margin: 15px auto;
        width: 80%;
        @include borderAll(0, black);
        @include fontAll(center, green, white, 25px);
      }

      #recc {
        width: 88%;
        @include borderAll(0, black);
        @include fontAll(center, red, white, 25px);
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  form {
    width: 100% !important;
    fieldset {
      p {
        #checkAll {
          margin-left: 40%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  form {
    width: 100% !important;
    margin-top: 2%;
    font-size: 1.2rem;
    fieldset {
      table {
        width: 100%;
      }
      h3 {
        font-size: 2rem;
      }
      h5 {
        font-size: 0.8rem;
      }
      p {
        label {
          margin-left: 4% !important;
        }
        #money {
          margin-left: 44%;
        }
        #toge {
          width: 40% !important;
          margin-left: 0 !important;
        }
      }
      ol {
        padding-left: 5% !important;
        height: 240px !important;
      }
      .rate {
        font-size: 15px;
      }
      p {
        #checkAll,
        .cal,
        #add {
          margin-left: 35% !important;
        }
      }
    }
  }
}
