// tool
// border style
@mixin borderAll($border: 5px, $color: rgba(255, 255, 255, 0.1)) {
  border-radius: $border;
  border: 1px solid $color;
}

// text style
@mixin fontAll($align: left, $color: #545454, $back: #fff, $height: 1) {
  text-align: $align;
  color: $color;
  background-color: $back;
  font-family: "Noto Sans TC", "Open Sans", sans-serif !important;
  line-height: $height;
}

// padding-x  margin-left
@mixin dist($padl: auto, $padr: auto, $marg: auto) {
  padding-left: $padl;
  padding-right: $padr;
  margin-left: $marg;
}
input[type="radio"] {
  display: none;
}
.boxStyle {
  cursor: pointer;
  color: #545454;
  font-weight: 500;
  padding-top: 15px;
  margin-bottom: 0;
}
input[type="radio"]:checked + .boxStyle {
  color: #ffa500;
}

#calMon {
  width: 50%;
}
.labelA {
  padding: 15px 0 0 26%;
}
#formStyle {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#formStyle,
#form {
  @include fontAll(left, #545454, #e9e9e9, 1);
  margin: 15px auto 15px;
  border-style: none;
  padding: 0 !important;

  fieldset {
    @include fontAll();
    @include borderAll();
    padding: 0 15px 15px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    h3 {
      @include fontAll(center, #393939, none, 1);
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
      font-size: 20px;
      font-weight: 600;
    }

    h5 {
      @include fontAll(center, #545454, none, 1);
      background-color: none !important;
    }

    // fromcheck
    #nnnn {
      @include fontAll(center, #545454, #fff, 16px);
      @include borderAll(0, #545454);
      padding: 5px;
    }

    #che {
      @include fontAll(center, green, #fff, 20px);
      font-size: 20px;
    }

    #non {
      @include fontAll(center, #ef5350, #fff, 20px);
      font-size: 18px;
    }
    p {
      text-align: center;
      label {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        font-weight: normal;
        @include fontAll(left, #545454, none, 1.2);
        margin-bottom: 0;
        // hint
        .small {
          font-size: 12px;
        }

        // important
        .red {
          color: #ef5350;
        }
      }

      //together
      #toge {
        width: 14%;
      }

      input {
        text-align: right;
        width: 180px;
        height: 35px;
      }
    }

    // Input wrong
    #msgA,
    #msgB {
      @include fontAll(right, #ef5350, #fff, 0);
      font-weight: 300;
      font-size: 13px;
      margin: 10px auto;
      width: 45%;
      display: block;
    }

    // for table
    table {
      td {
        @include fontAll(right, #393939, #fff);
      }
      #rec {
        @include fontAll(center, #4abf70, black !important);
      }
      #recc {
        @include fontAll(center, #ef5350, black !important);
      }
    }
    #stockAll,
    #getAll,
    #getMoney {
      td {
        width: 50%;
      }
    }

    // secondDCF
    #valFF {
      @include fontAll(center, #fff, black !important);
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .labelA {
    padding: 15px 0 0 20%;
  }
  #calMon {
    width: 60%;
  }
  form {
    width: 100% !important;
    fieldset {
      p {
        #checkAll {
          margin-left: 40%;
        }
        #toge {
          width: 30% !important;
        }
        #money {
          display: block;
          margin-left: 52%;
        }
      }
      #msgA,
      #msgB {
        width: 55% !important;
      }
    }
  }
}

@media (max-width: 767px) {
  #calMon {
    width: 100%;
  }
  .labelA {
    padding: 15px 0 0;
  }
  #form {
    width: 100% !important;
    margin-top: 2%;
    fieldset {
      #msgA,
      #msgB {
        width: 90% !important;
      }
      table {
        width: 100%;
      }
      h3 {
        font-size: 2rem;
      }
      h5 {
        font-size: 0.8rem;
      }
      p {
        #toge {
          width: 40% !important;
          margin-left: 0 !important;
        }
        #money {
          margin-left: 40%;
        }
        label {
          width: 38%;
        }
      }
      ol {
        padding-left: 15px !important;
      }
      .rate {
        font-size: 15px;
      }
    }
  }
}
