.blog {
  margin-left: 0;
  margin-right: 0;
  .buildText {
    width: 48%;
    margin: 1% auto 2%;
  }
  .edde {
    text-align: right;
    width: 74%;
  }
  .blogTitle {
    float: right;
  }
  .blogContent {
    background-color: #fff;
    .panel {
      background-color: #fff !important;
      .panel-heading {
        padding: 0 15px;
        .thread-info-author {
          a,
          a:hover,
          a:focus {
            color: #393939;
            font-size: 20px;
            text-decoration: none;
          }
        }
      }
      .panel-body {
        font-size: 15px;
        font-weight: 300;
        p {
          img {
            width: 100%;
          }
        }
      }
      .fbPad {
        padding-left: 15px;
      }
      .authorName {
        padding-right: 15px;
      }
    }
    div {
      .pagination {
        li {
          a {
            color: #393939;
            background-color: #fff !important;
            font-weight: bold;
            font-size: 18px;
            border: none !important;
          }
          a:hover {
            color: #ea7d00;
            border: none !important;
            font-weight: bold;
            font-size: 18px;
            background-color: #fff !important;
          }
        }
        .active {
          span,
          span:hover {
            color: #ea7d00;
            border: none !important;
            font-weight: bold;
            font-size: 18px;
            background-color: #fff !important;
          }
        }
        .disabled {
          span,
          span:hover {
            color: #ea7d00;
            border: none !important;
            font-weight: bold;
            font-size: 18px;
            background-color: #fff !important;
          }
        }
      }
      .thread-info-author {
        a,
        a:hover,
        a:focus {
          color: #393939;
          font-size: 18px;
          font-weight: bolder;
          text-decoration: none;
        }
        p {
          font-size: 17px;
          padding: 10px 15px;
          line-height: 1;
          img {
            max-width: 100%;
            height: auto !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .blog {
    .blogContent,
    .edde {
      margin-left: 0;
      width: 100%;
      .panel {
        .panel-heading {
          padding: 0;
        }
        .fbPad {
          padding-left: 0;
        }
        .authorName {
          padding-right: 0;
        }
      }
    }
    .blogTitle {
      float: none;
      .form-control {
        width: 100% !important;
      }
      .dropdown {
        margin-bottom: 3%;
        .dropdown-menu {
          float: none;
          position: relative;
        }
      }
    }
    .buildText {
      width: auto;
      margin: 1% auto 3%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1025px) {
  .blog {
    .blogContent {
      padding-top: 1%;
    }
  }
}

@media (max-width: 767px) {
  .blog {
    .buildText {
      width: 100%;
    }
    .blogContent {
      .panel {
        .panel-heading {
          .showTitle {
            white-space: normal !important;
          }
          .headLabel {
            a,
            a:hover {
              font-size: 2rem;
            }
          }
        }
        .panel-body {
          font-size: 1.5rem;
        }
      }
      div {
        .thread-info-author {
          a,
          a:hover,
          a:focus {
            font-size: 16px;
          }
          p {
            font-size: 14.5px;
          }
        }
      }
    }
    .blogTitle {
      float: none;
      .dropdown {
        overflow-x: visible;
        .dropdown-menu {
          position: relative;
          float: none;
        }
      }
    }
  }
}
